.buy-product {
  margin: 50px 0 150px 0;
  .slider-image {
    width: 100%;
  }
  .slick-dots {
    bottom: -100px;
    ul {
      padding: 0;
    }
    li {
      position: relative;
      display: inline-block;
      width: 80px;
      height: 80px;
      margin: 0 10px;
      cursor: pointer;
      overflow: hidden;
      border: 1px solid transparent;
      background-color: #fff;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      img {
        opacity: 0.5;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.6s, opacity 0.6s, -webkit-transform 0.6s;
      }
      &:hover {
        border-color: rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        img {
          transform: translateY(-5px);
          opacity: 1;
        }
      }
    }
  }

  .slick-slider {
    cursor: pointer;
    .slick-prev {
      display: none !important;
      z-index: 999;
      left: 0px;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    .slick-next {
      display: none !important;
      z-index: 999;
      right: 0px;
      opacity: 0;
      transition: all 1.2s ease-in-out;
    }

    .slick-next:before,
    .slick-prev:before {
      color: #dd7c86;
    }
    &:hover {
      .slick-prev {
        display: block !important;
        z-index: 9999;
        left: 12px;
        opacity: 1;
      }

      .slick-next {
        display: block !important;
        z-index: 9999;
        right: 12px;
        opacity: 1;
      }
    }
  }

  &__link {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    .link-home {
      color: #000;
    }
    .link-flycam {
      color: #b5bbc0;
    }
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 12px;
  }

  .is-divider {
    height: 1px;
    background-color: #000;
    max-width: 150px;
    display: block;
    margin: 1.5em 0 1em;
    width: 100%;
  }
  .rating {
    font-size: 1.5rem;
    color: #dd4453;
  }

  &__price {
    margin-top: 20px;
    span {
      font-size: 1.3rem;
      font-weight: 600;
    }
  }

  &__content {
    background-color: #f4f9fc;
    margin-top: 20px;
    p {
      padding: 16px;
      font-size: 1.2rem;
    }
  }
  .quantity {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0;
    width: 100px;
    input {
      text-align: center;
    }
    .btn-primary {
      border-radius: 0 !important;
      padding: 8px 12px !important;
    }
  }
  .add-cart {
    margin-right: 20px;
  }

  &__info {
    margin-bottom: 50px;
  }
}

.description {
  margin-top: 20px;
  h2 {
    font-weight: 700;
    font-size: 1.5rem;
  }
  p {
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.3rem;
    margin-right: 50px;
  }
  &__image {
    margin: 30px auto;
    width: 500px;

    text-align: center;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.evaluate {
  margin-top: 20px;
  .review {
    padding: 0 20px;
  }
  .review-title {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .review-item {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
    padding: 20px 0;
    border-top: 1px dashed #ddd;
    &:first-child {
      border-top: none;
    }
    .avatar {
      margin-top: 5px;
      width: 50px;
      height: 50px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
      }
    }
    .content-item {
      padding: 0px 16px;
    }
    .rating {
      margin-top: 0;
      font-size: 1.2rem;
      color: #dd4453;
    }
  }
  .submit-review {
    .form {
      border: 1px solid #989898;
      border-radius: 8px;
      padding: 15px 30px 30px;
      label {
        font-size: 1.2rem;
        font-weight: 600;
      }
      .rating {
        font-size: 1.5rem;
        margin-top: 0;
        color: #dd4453;
      }
    }
  }
}
