.unpinned {
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px !important;
  &__logo {
    width: 60px;
    height: 60px;
    img {
      width: 100%;
    }
  }
  &__navigation-menu {
    .link-menu {
      color: #474e54;
    }
    .main-menu {
      text-align: left;
      display: inline-block;
    }

    .main-menu a,
    .main-menu a:hover {
      text-decoration: none;
    }

    .main-menu {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .main-menu li {
      display: block;
      padding: 0;
      position: relative;
      vertical-align: top;
    }

    .main-menu > li > a {
      font-weight: 700;
      cursor: pointer;
      text-transform: uppercase;
      display: block;
      padding: 0.75em 2.05em;
      font-size: 1.2rem;
    }

    .main-menu ul.sub-menu {
      position: relative;
      padding: 0;
    }

    .main-menu ul.sub-menu li {
      cursor: pointer;
      display: block;
    }

    .main-menu ul.sub-menu a {
      color: #474e54;
      padding: 0.75em 1.25em;
      display: block;
    }

    .main-menu li {
      display: inline-block;
    }

    .main-menu > li > a {
      display: block;
    }

    .main-menu > li > a:hover {
      color: #039;
    }

    .main-menu > li:hover ul.sub-menu,
    .main-menu > li:focus ul.sub-menu {
      visibility: visible;
      opacity: 1;
    }

    .main-menu > li.menu-item-has-children {
      padding-right: 1.5em;
      overflow: hidden;
    }

    .main-menu > li.menu-item-has-children a {
      padding: 0.75em 0.7em 0.7em 1.25em;
    }

    .main-menu > li.menu-item-has-children:hover a {
      color: #474e54;
    }

    .main-menu > li.menu-item-has-children:after {
      content: '';
      position: absolute;
      right: 0.5em;
      top: 1.1em;
      width: 0;
      height: 0;
      border: solid #6e6d7a;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 4px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    .main-menu > li.menu-item-has-children:hover,
    .main-menu > li.menu-item-has-children:focus {
      overflow: visible;
    }

    .main-menu ul.sub-menu {
      width: 12em;
      position: absolute;
      /*top:100%;*/
      top: 0;
      z-index: 900;
      padding-top: 3em;
    }

    .main-menu ul.sub-menu li {
      opacity: 0;
    }

    .main-menu > li.menu-item-has-children:hover ul.sub-menu,
    .main-menu > li.menu-item-has-children:focus ul.sub-menu {
      top: 100%;
      padding-top: 0;
    }

    .main-menu > li.menu-item-has-children:hover ul.sub-menu li,
    .main-menu > li.menu-item-has-children:focus ul.sub-menu li {
      opacity: 1;
    }

    .main-menu ul.sub-menu li {
      border-radius: 3px;
      background-color: #f2f2f2;
      display: block;
      &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    .main-menu ul.sub-menu a {
      display: block;
    }

    .main-menu ul.sub-menu a:hover {
      background-color: rgb(213, 213, 213);
    }

    a,
    .sub-menu,
    .menu-item {
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
  }

  &__menu-icon {
    .icon {
      width: 26px;
      height: 26px;
    }

    .icon-list {
      width: 100%;
      padding: 0 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .icon-item {
      margin-left: 42px;
      list-style: none;
      display: flex;
      align-items: center;
    }

    .icon-link {
      display: inline-flex;
      text-decoration: none;
      color: var(--color-icon);
      transition: 0.5s linear;
      position: relative;
      z-index: 1;
      margin: auto;

      .mark {
        position: absolute;
        top: -2px;
        right: -6px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        color: #fff;
        background-color: #c72535;
        font-size: 0.82rem;
        font-weight: 500;
        text-align: center;
      }
    }

    .icon-link:hover {
      color: #474e54;
    }

    .icon-link i {
      margin: auto;
    }

    .icon-link::before {
      content: '';
      position: absolute;
      top: -6px;
      left: -6px;
      right: 0;
      bottom: 0;
      width: 40px;
      height: 40px;
      background: #d4d7d9;
      border-radius: 50%;
      z-index: -1;
      transform: scale(0);
      transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
    }

    .icon-link:hover::before {
      transform: scale(1);
    }

    .icon-item:nth-child(1) a:hover:before {
      background: #e7e9eb;
    }

    .icon-item:nth-child(2) a:hover:before {
      background: #d4d7d9;
    }

    .icon-item:nth-child(3) a:hover:before {
      background: #d4d7d9;
    }

    .active-icon {
      color: #474e54;
      display: inline-flex;
      transition: 0.5s linear;
      position: relative;
      z-index: 1;
      margin: auto;
      &::before {
        transform: scale(1);
      }
    }
  }

  .menu-trigger {
    span {
      font-weight: 700;
      vertical-align: middle;
      font-size: 14px;
      margin: 0 10px;
    }
  }

  .menu {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 40px;
    right: 0px;
    width: 250px;
    box-shadow: 0px 4px 11px 0px #00000026;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  }

  .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .menu ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu li {
    border-bottom: 1px solid #eff2f5;
    padding: 8px 12px;
  }

  .menu li a {
    font-size: 1.231rem;
    font-weight: 700;
    text-decoration: none;
    color: #464255;
    padding: 0.65rem 1rem;
    display: block;

    &:hover {
      border-radius: 7px;
      background-color: rgba(205, 208, 209, 0.8);
      transition: color 0.2s ease, background-color 0.2s ease;
      color: #464255;
    }
  }
}

.products-list {
  width: 400px;
  .view-cart {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
}
.products-item {
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  transition: color 0.2s ease, background-color 0.2s ease;
  .left {
    display: flex;
  }
  &__image {
    width: 60px;
    height: 60px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__contents {
    margin-left: 10px;
  }
  .title {
    padding-top: 5px;
    font-size: 1.2rem;
    margin-bottom: 0;
    color: #000;
    font-weight: 600;
  }
  &__price {
    padding-top: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #dd4453;
  }
  &:hover {
    background-color: rgba(224, 227, 228, 0.8);
  }
}
