.slider {
  .section-show {
    width: 240px;
    cursor: pointer;
    padding: 15px;
    &:hover {
      z-index: 99;
    }
    .p-item {
      padding: 15px 30px;
      transition: all 0.2s ease;
      &:hover {
        box-shadow: 0px 0px 8px 0px #b5b5b5;
        z-index: 2;
      }
    }
  }

  .image {
    width: 100%;
    height: 180px;
    margin-bottom: 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .show-item {
    margin-top: 20px;
  }
  .title {
    text-align: start;
    font-size: 1.2rem;
    font-weight: 600;
    height: 50px;
  }

  .money-sale {
    font-size: 1.1rem;
    font-weight: 800;
  }
  .money {
    font-weight: 400;
    font-size: 1rem;
    color: #bababa;
    text-decoration: line-through;
  }

  .slick-next:before,
  .slick-prev:before {
    color: #dd7c86;
  }
}
